.about {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
}

.about__wrapper {
  margin: 0 auto;
  width: 260px;
}

.about__title {
  margin: 0;
  padding: 0;
}

.about__list {
  @include reset-list;
}

.about__list-item {
  position: relative;
  margin-top: 28px;
  padding-top: 56px;

  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";
    display: block;
    width: 47px;
    height: 37px;
    position: absolute;

    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &--ecology::before {
    background-image: url("../svg/icon-1.svg");
  }
  &--price::before {
    background-image: url("../svg/icon-3.svg");
  }
  &--likes::before {
    background-image: url("../svg/icon-5.svg");
  }
  &--handmade::before {
    background-image: url("../svg/icon-2.svg");
  }
  &--russian::before {
    background-image: url("../svg/icon-4.svg");
  }
  &--present::before {
    background-image: url("../svg/icon-6.svg");
  }
}

@media (min-width: 768px) {
  .about {
    margin-bottom: 82px;
  }

  .about__wrapper {
    width: 668px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__list-item {
    width: 330px;
    flex-grow: 1;
  }
}

@media (min-width: 1250px) {
  .about {
    margin-bottom: 88px;
  }

  .about__wrapper {
    width: 700px;
  }

  .about__list-item {
    width: 350px;
  }
}

