.catalog {
  z-index: 2;
  margin-bottom: 30px;
}

.catalog__wrapper {
  margin: 0 auto;
  width: 260px;
}

.catalog__product-list {
  @include reset-list;
}

.catalog__product {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .catalog {
    margin-bottom: 50px;
  }
  .catalog__wrapper {
    width: 668px;
  }

  .catalog__product {
    margin-bottom: 50px;
  }
}

@media (min-width: 1250px) {
  .catalog {
    margin-bottom: 0;
  }
  .catalog__wrapper {
    width: 1050px;
  }

  .catalog__product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .catalog__product {
    margin-bottom: 53px;
    width: 315px;
  }
}
