.copyright {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

}

.copyright__link {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;

  & b {
    margin-right: 30px;
  }
  svg {
    fill: #63d1bb;
  }

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
