.intro__list {
  @include reset-list;
}

.intro__item {
  position: relative;
  background-color: #63d1bb;

  &--darkness {
    background-color: #56c3b2;
  }

  & a {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 28px;
    margin: 0;

    display: block;

    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;

    &::after {
    content: '';
    position: absolute;
    width: 62px;
    height: 62px;

    top: 28px;
    right: 26px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    transition-duration: 0.5s;
  }
  
}

  &:hover a::after,
  &:focus a::after {
    opacity: 1;
  }
  &:active {
    & a::after {
      opacity: 0.3;
    }
    & span {
      opacity: 0.3;
    }
  }

  &--interior a::after {
    background-image: url("../svg/interior.svg");
    background-size: 40px 62px;
  }

  &--toys a::after {
    background-image: url("../svg/toy.svg");
    background-size: 60px 60px;
  }
}

@media (min-width: 768px) {
  .intro__list {
    display: flex;
    width: 668px;
    margin: auto;
    margin-top: -119px;
  }
  .intro__item {
    width: 50%;
    flex-grow: 1;

    & a {
      padding-top: 29px;
      padding-bottom: 30px;
      padding-left: 37px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: 1250px) {
  .intro__list {
    width: 1050px;
    margin-top: -126px;
  }

  .intro__item {

    & a {
      padding-top: 28px;
      padding-bottom: 38px;
      padding-left: 37px;
    }
  }

}
