.intro__list {
  @include reset-list;
}

.intro__item {
  position: relative;
  background-color: #63d1bb;

  &--darkness {
    background-color: #56c3b2;
  }

  & a {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 28px;
    padding-right: 28px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
  }
  svg {
    position: absolute;
    right: 28px;
    top: calc(50% - 30px);
    opacity: 0.5;
    fill: #149080;
  }

  &:hover svg,
  &:focus svg {
    opacity: 1;
  }
  &:active {
    & svg {
      opacity: 0.3;
    }
    & span {
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .intro__list {
    display: flex;
    width: 668px;
    margin: auto;
    margin-top: -119px;
  }
  .intro__item {
    width: 50%;
    flex-grow: 1;

    & a {
      padding-top: 29px;
      padding-bottom: 42px;
      padding-left: 37px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: 1250px) {
  .intro__list {
    width: 1050px;
    margin-top: -126px;
  }

  .intro__item {

    & a {
      padding-top: 28px;
      padding-bottom: 48px;
      padding-left: 37px;
    }
    svg {
      right: 30px;
      top: calc(45% - 30px);
    }
  }

}
