.main-nav {
  position: relative;
  margin: 0 auto;
  //margin-bottom: 75px;

  &--inner-page {
    margin-bottom: 0;
  }


}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;

  width: 80px;
  height: 80px;
  border: none;

  cursor: pointer;
  background-color: transparent;

  z-index: 2;

  &--closed::before {
    content: "";
    display: block;
    position: absolute;

    height: 2px;
    width: 20px;
    top: 39px;
    right: 30px;
    background-color: #221f1f;

    box-shadow: 0 6px 0 #221f1f, 0 -6px 0 #221f1f;
  }
  &--opened {
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 26px;
      top: 39px;

      width: 28px;
      height: 2px;
      background-color: #221f1f;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    &--inner-page {
      margin-bottom: 0;
    }
  }

  .main-nav__wrapper {
    width: 768px;
    margin: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1250px) {
  .main-nav {

    &--inner-page {
      margin-bottom: 0;
    }
  }

  .main-nav__wrapper {
    width: 1250px;
    margin: auto;
  }
}

.main-nav {
  //opacity: 0;
}
