.manufacturing {
  margin: 0;
  padding: 0;
}

.manufacturing__wrapper {
  width: 260px;
  margin: auto;
  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;

  padding-bottom: 32px;
}

.manufacturing__title {
  position: relative;
  order: 0;

  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;

    left: 34px;
    top: 25px;

    background-image: url("../img/video.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.manufacturing__video {
  display: block;
  position: relative;
  order: 1;
  padding: 0;
  margin-bottom: 26px;
  

  video {
    display: block;
    width: 260px;
    height: 150px;

    background-image: url("../img/video-mobile@1x.jpg");
    background-color: #e1eae8;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101px auto;
  }

  &:hover,
  &:focus {
    &::after {
      background-size: 110px auto;
    }
  }
}

.manufacturing__desc {
  order: 2;
  padding: 0;
  padding-bottom: 10px;
  margin-top: 0;
  margin-left: 34px;
  margin-right: 34px;

  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.manufacturing__button {
  order: 2;
  margin-left: 34px;
  margin-right: 34px;
  width: auto;
}

@media (min-width: 768px) {
  .manufacturing__wrapper {
    width: 668px;
    padding-bottom: 46px;
  }

  .manufacturing__video {
    order: 0;
    margin-bottom: 40px;

    video {
      width: 668px;
      height: 455px;
      
      background-image: url("../img/video-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }
  .manufacturing__title,
  .manufacturing__desc,
  .manufacturing__button {
    order: 1;
  }

  .manufacturing__title {
    padding: 0;
    padding-left: 106px;
    padding-bottom: 30px;

    font-size: 20px;

    &::before {
      top: 0;
      left: 40px;
    }
  }

  .manufacturing__desc {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 36px;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .manufacturing__button {
    margin: 0 40px;
  }
}

@media (min-width: 1250px) {
  .manufacturing__wrapper {
    display: block;
    width: 1050px;
    padding-bottom: 0;
  }

  .manufacturing__video {
    margin: 0;
    float: left;
    video {
      width: 682px;
      height: 455px;
      background-image: url("../img/video-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }
  .manufacturing__title {
    margin-left: 760px;
    padding-left: 0;
    margin-right: 58px;
    padding-top: 98px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      left: 0;
      top: 48px;
    }
  }

  .manufacturing__desc {
    margin-left: 760px;
    margin-right: 58px;
    padding-bottom: 10px;
  }

  .manufacturing__button {
    margin-top: 0;
    margin-left: 760px;
    margin-right: 58px;

  }
}
