.page-main {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 39px;
  width: 100%;

  &--inner-page {
    padding-top: 30px;
    padding-bottom: 58px;
  }
}

@media (min-width: 768px) {
  .page-main {
    padding-bottom: 56px;

    &--inner-page {
      padding-top: 70px;
      padding-bottom: 63px;
    }
  }

}

@media (min-width: 1250px) {
  .page-main {
    padding-top: 105px;
    padding-bottom: 106px;

    &--inner-page {
      padding-top: 112px;
    }
  }
}