.page-footer {
  background-color: #f1f1f1;
  margin-top: 62px;
}

.page-footer__social {
  height: 80px;
}

.page-footer__copyright {
  height: 80px;
  padding-left: 68px;
}

.page-footer__logo {
  display: none;
}