.promo-product {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-bottom: 42px;


  background-image: url("../svg/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
  background-position: 50% 100%;
  background-size: auto 6px;
}

.promo-product__wrapper {
  margin: 0 auto;
  width: 260px;
}

.promo-product__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo-product__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}

.promo-product__product-of-week {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  color: #63d1bb;
}

.promo-product__data-container {
  position: relative;
}

.promo-product__desc {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promo-product__specifications {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  width: 100%;

  font-size: 15px;
  line-height: 36px;
  vertical-align: middle;
  color: #444444;

  & td:first-child {
    width: 95px;
  }

  & td {
    border-bottom: 1px solid #ececec;
  }
}

.promo-product__image {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}

.promo-product__price {
  margin: 0;
  padding: 0;
  line-height: 74px;
  text-align: center;
  display: block;
  width: 100%;

  color: #444444;
  font-weight: 700;
}


@media (min-width: 768px) {
  .promo-product {
    margin-bottom: 58px;
    
    background-size: auto 17px;
  }

  .promo-product__wrapper {
    width: 668px;
    padding-bottom: 25px;
  }

  .promo-product__title-container {
    flex-direction: row;
    margin-bottom: 60px;
    align-items: center;
  }

  .promo-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .promo-product__product-of-week {
    line-height: 17px;
    font-size: 17px;
    width: 75px;
    text-align: center;

    margin-right: 26px;
    margin-left: auto;
  }

  .promo-product__data-container {
    width: 290px;
    min-height: 404px;
    display: flex;
    flex-direction: column;
  }

  .promo-product__desc {
    margin-top: -10px;
    margin-bottom: 32px;

    line-height: 30px;
    font-size: 17px;
  }

  .promo-product__price {
    font-size: 20px;
    line-height: 24px;
    margin-top: auto;
    margin-bottom: 35px;
  }

  .promo-product__picture {
    position: absolute;
    bottom: 0;
    right: -379px;
  }

  .promo-product__image {
    width: 333px;
    height: 404px;
  }

  .promo-product__button {
    width: 290px;
  }
}

@media (min-width: 1250px) {
  .promo-product {
    padding: 0 50px;
    padding-bottom: 68px;

    margin-bottom: 70px;
    
    background-size: 1250px 24px;
    background-repeat: no-repeat;
  }

  .promo-product__wrapper {
    width: 1050px;
  }

  .promo-product__title-container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .promo-product__title {
    font-size: 53px;
    line-height: 57px;
    margin-right: auto;
    z-index: 2;
  }

  .promo-product__product-of-week {
    width: 175px;
    margin: 0;
    padding: 0 55px;
  }

  .promo-product__data-container {
    width: 292px;
    margin-left: 175px;
  }

  .promo-product__desc {
    margin-bottom: 44px;
  }

  .promo-product__specifications {
    margin-bottom: 110px;
  }

  .promo-product__price {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .promo-product__picture {
    position: absolute;
    bottom: 0;
    right: -583px;

    background-color: #f1f1f1;

    z-index: 1;
  }
  .promo-product__image {
    width: 525px;
    height: 636px;
  }
}
