.second-menu__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.second-menu__item {
  margin-left: 60px;
}

.second-menu__item--first {
  margin-left: 0;
}

.second-menu__item--last {
   margin-left: auto;
}