.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }

  & a {
    display: block;
    position: relative;
  }

  &--instagramm {
    & a {
      width: 22px;
      height: 21px;
    }
    & a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 22px;
      height: 21px;

      background-image: url("../img/insta.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover a::after,
    &:focus a::after {
      background-image: url("../img/insta-hover.png");
    }

    & a:active::after {
      background-image: url("../img/insta-hover.png");
      opacity: 0.3;
    }
  }

  &--facebook {
    & a {
      width: 15px;
      height: 28px;
    }
    & a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 15px;
      height: 28px;

      background-image: url("../img/fb.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &:hover a::after,
    &:focus a::after {
      background-image: url("../img/fb-hover.png");
    }

    & a:active::after {
      background-image: url("../img/fb-hover.png");
      opacity: 0.3;
    }
  }

  &--twitter {
    & a {
      width: 23px;
      height: 20px;
    }
    & a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 23px;
      height: 20px;

      background-image: url("../img/twitter.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover a::after,
    &:focus a::after {
      background-image: url("../img/twitter-hover.png");
    }

    & a:active::after {
      background-image: url("../img/twitter-hover.png");
      opacity: 0.3;
    }
  }
}
