.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }

  & a {
    display: inline-block;
    position: relative;

    svg {
      fill: #231f20;
    }
    &:hover svg,
    &:focus svg {
      fill: #46c1ae;
    }
    &:active svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
